* {
	box-sizing: border-box;
}

body {
	background-color: rgb(96, 73, 240);
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

.game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	max-width: 550px;
}
p {
	margin: 5px;
	color: rgb(215, 215, 247);
}
span {
	color: rgb(255, 255, 255);
}

canvas {
	border: 3px solid #1e1161;
	border-radius: 10px;
	background-color: #1e1161;
}

.control-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
button {
	background-color: rgb(187, 187, 248);
	border-radius: 10px;
	border-color: #9c9c9e;
	margin: 3px;
	padding: 4px 20px;
	width: 70px;
}
.up-down {
	display: flex;
	flex-direction: column;
}

@media (max-width: 400px) {
	.info {
		flex-direction: column;
	}
}
