* {
	box-sizing: border-box;
}

body {
	background-color: rgb(96, 73, 240);
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}

.game-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 10px;
}

.info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
p {
	margin: 0 10px;
	color: rgb(215, 215, 247);
}
span {
	color: rgb(255, 255, 255);
}

canvas {
	border: 3px solid #1e1161;
	border-radius: 10px;
	background-color: #1e1161;
}

.explossion-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	animation: explossion-anim 0.5s ease-in-out;
}
@keyframes explossion-anim {
	0% {
		font-size: 20px;
	}
	100% {
		font-size: 80vh;
	}
}

.control-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
button {
	background-color: rgb(187, 187, 248);
	border-radius: 10px;
	border-color: #9c9c9e;
	margin: 3px;
	padding: 4px 20px;
	width: 70px;
}
.up-down {
	display: flex;
	flex-direction: column;
}

.modal-container {
	display: flex;
	justify-content: center;
	background-color: rgb(0, 0, 0, 0.8);
	width: 100%;
	height: 100vh;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 10;
}
.message-modal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #4747f4;
	position: absolute;
	top: 20%;
	border-radius: 20px;
	padding: 100px 30px;
	gap: 20px;
	margin: 0 20px;
}
.message-modal p {
	font-size: 20px;
	text-align: center;
}

.thanks-end-message {
	background-color: rgb(0, 0, 0, 0.92);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: absolute;
	gap: 30px;
	color: rgb(96, 73, 240);
}
.thanks-end-message p {
	font-size: 100px;
}

.inactive {
	display: none;
}

@media (max-width: 600px) {
	.info {
		font-size: 12px;
		width: 80%;
	}
	@keyframes explossion-anim {
		0% {
			font-size: 20px;
		}
		100% {
			font-size: 80vw;
		}
	}
}
